@page "/"

<PageTitle>Welcome</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Login</h1>

            <input type="email" class="form-control" placeholder="Email"/>
            <input type="password" class="form-control" placeholder="Password"/>
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</div>

@code {

    

}