@page "/preferences"
@using blazor.wa.tbd.Services
<h3>Preferences</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label for="fluid-ounces-consumed">Target</label>
            <input id="fluid-ounces-consumed" type="number" class="form-control" @bind="TargetFluidOunces"/>
            <button class="btn btn-primary" onclick="@(async () => await SavePreferences())">Save</button>
        </div>
    </div>
</div>